<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Web" version="24.2.10" targetFramework="net48" />
  <package id="DevExpress.Web.Mvc" version="24.2.10" targetFramework="net48" />
  <package id="DevExpress.Data" version="24.2.10" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="23.5.1" targetFramework="net48" />
</packages>
